.login_container {
    width: 100vw;
    height: 100vh;
    background-color:lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_wrapper { 
    width:25%;
    padding: 20px;
    background-color: white;
}
.login_tittle {
    font-size: 24px;
    font-weight: 300;
}
.login_form {
    display: flex;
    flex-direction: column;
}
.login_Input {
    flex: 1;
    min-width: 40%;
    margin: 10px 0px ;
    padding: 10px;
}
.login_btn {
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.link{
        margin:5px 0px;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
        padding:10px;
}