.navbar_container{
 height:60px;
 background-color:gray;
 
}
.input{
  padding:5px;
  margin-right: 10px;
  border-radius: 6px;
}
.logo_image {
  width: 39px;
  position: absolute;
  left:38%;
}
.navbar_wrapper{
 padding:10px 20px;
display:flex;
justify-content:space-between;
align-items:center;
}
.left{
flex:1;
display:flex;
align-items:center;
} 
.center{
 flex:1;
text-align:center;
}
.right{
flex:1;
display:flex;
justify-content:flex-end;
align-items:center;
}
.language{
font-size:14px;
cursor:pointer;
}
.searchbar{
    border:0.5px solid lightgray;
    display:flex;
    align-items:center;
    margin-left:25px;
    padding:5px;
}
.logo{
     font-weight:bold;
     color:black;
    
}
.input{
 border:none;
}
.menuitem{ 
   font-size:19px;
  cursor:pointer;
  margin-left:25px;
}
@media only screen and(max-width:1100px) {
  .language{
    display: none;
  }
  .navbar_container{
    height:30px;
  }
  .logo_image{
    
  }
}